body {
  margin: 0px;
  background: linear-gradient(180deg, rgba(227,255,248,0) 82%, rgba(227,255,248, 0.38) 100%);
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0px;
  padding: 0px;
}

nav ul a {
  text-decoration: none;
  color: #1f1534;
  opacity: 0.5;
  font-family: "Mulish", sans-serif;
}
nav ul a:hover {
  font-weight: bold;
    opacity: 1;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.text h1 {
  font-size: 49px;
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  margin-bottom: 40px;
  width: 490px;
}
.text h1 span {
  color: #89c5cc;
  font-weight: bold;
}

.text p {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  color: #7d7987;
  margin-bottom: 40px;
  width: 400px;
  line-height: 2;
}

.text button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #69B99D;
    color: #F9F9F9;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    padding: 14px 32px 15px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.text button:hover {
    background-color: #69b99ddf;
}

footer {
    font-family: 'Open sans';
    font-size: 14px;
    color: #000;
    text-align: center;
}

footer a {
    color: currentColor;
    font-weight: bold;
    text-decoration: none;
}

.balls {
    position: fixed;
    right: 0;
    bottom: 0;
}
